.messagebox {
	margin: auto;
	width: 15rem;
	display: flex;
	flex-direction: row;
	padding:1px;
	border: 2px solid black;
	min-height: 2.5rem;
	min-width: 15rem; 
	border-radius: 100px;
	background-color: white;
	transition: width .3s ease-in;
	align-items: stretch;
}

#messagebox:focus-within {
	outline: none;
	border: 2px solid hsl(0, 0%, 0%);
}

#message {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	flex-grow: 2;
	font-size: 0.8rem;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	border: none;
	background-color: transparent;
	color: hsl(219, 54%, 57%);
}

#message::placeholder {
	opacity: 1; /* Firefox */
	color: hsl(219, 54%, 80%);
}

#message:focus {
	outline: none;
}

#submit {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition-duration: 0.5s;
}

#submit:hover {
	opacity: 0.7;
}

#load {
	cursor: none;
	display: none;
}

/*Box schrumpft*/
.schrumpf {
	width: 7% !important;
}
/*Box wird wieder groß*/
.schrumpfback {
	min-width: 25rem;
	width: 50% !important;
}

/*Schriftinput entfernen*/
.weg {
	display: none;
}

/*Schriftinput wiederherstellen*/
.wegweg {
	display: block;
}
	